.gradient-bg {
	position: fixed;
	inset: theme("spacing.px");

	border-radius: theme("borderRadius.lg");
	z-index: -10;

	background-color: theme("colors.brand.60");
	background-image: linear-gradient(
		var(--deg_),
		theme("colors.brand.10") 30%,
		theme("colors.brand.30"),
		theme("colors.brand.60")
	);
	background-size: 200% 200%;

	animation: gradient 10s ease infinite;

	@keyframes gradient {
		0%,
		100% {
			background-position: bottom left 0%;
		}
		50% {
			background-position: bottom left 100%;
		}
	}
}
